@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;   
  height: 100%; /* Ensure full viewport coverage */
  width: 100%;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.text-shadow {
  text-shadow: 
    -4px -4px 0 #000, 
    4px -4px 0 #000, 
    -4px 4px 0 #000, 
    4px 4px 0 #000;
}

/* Flag Wave Animation */
@keyframes flag-wave {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  25% {
    transform: rotate(2deg) translateY(-2px);
  }
  50% {
    transform: rotate(-2deg) translateY(2px);
  }
  75% {
    transform: rotate(1deg) translateY(-1px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}

.animate-flag-wave {
  animation: flag-wave 2s infinite ease-in-out;
  transform-origin: bottom center;
}

/* Text Pulsating Animation */
@keyframes text-pulse {
  0% {
    text-shadow: 0 0 2px #fff, 0 0 3px #ff0, 0 0 5px #ff0;
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  25% {
    text-shadow: 0 0 3px #ff0, 0 0 4.5px #ff0, 0 0 8px #ff0;
    transform: scale(1.03) translateY(-2px);
    opacity: 0.9;
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 7.5px #ff0, 0 0 10px #ff0;
    transform: scale(1.05) translateY(-4px);
    opacity: 0.8;
  }
  75% {
    text-shadow: 0 0 6px #ff0, 0 0 7px #ff0, 0 0 9px #ff0;
    transform: scale(1.03) translateY(-2px);
    opacity: 0.9;
  }
  100% {
    text-shadow: 0 0 2px #fff, 0 0 3px #ff0, 0 0 5px #ff0;
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.animate-text-pulse {
  animation: text-pulse 3s infinite ease-in-out;
}
